<div class="container">
  <form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
  </form>
</div>

<div class="js-card grid-container">
  <ul class="gallery"></ul>
</div>

<div class="text-box container">
  <button type="button" class="btn button-primary button" data-action="load-more">
    <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"> </span>
    <span class="label">Show more</span>
  </button>
</div>
